In [24]:
%%javascript
function clear_other_cells () {
document.getElementById('file_menu').parentNode.style.display = 'none';
document.getElementById('logout').style.display = 'none';
document.getElementById('notebook_name').style.display = 'none';
var this_cell = $(element).closest('.cell').data('cell');
Jupyter.notebook.get_cells().forEach(function (cell) {
if (cell.cell_type === 'code' && cell !== this_cell) {
cell.clear_output();
}
Jupyter.notebook.set_dirty(true);
});
};
$([IPython.events]).on('notebook_loaded.Notebook', clear_other_cells());
$(window).on("beforeunload", function(){
Jupyter.notebook.kernel.restart();
});

<ul style="list-style-type:circle;font-size:14px;line-height:27px;">
    <li><b>from streamanalytix.python.dataset import Dataset:</b> Load Dataset class from streamanalytix API.</li>
	<li><b>Dataset(source_name):</b> Creates object of dataset class for given source.
		<ul>
			<li><b>Dataset.get_dataframe():</b> Read data source and return a pandas dataframe. </li>
		</ul>
	</li>
	<li><b>from streamanalytix.utilities import sax_utils:</b> Load sax_util script. It has following functions
		<ul>
			<li><b>sax_utils.save_and_download_model(model_name, model_object):</b>This method lets the user to save and download the trained model with StreamAnalytix. This model can than be used for training and/or scoring purpose as part of the StreamAnalytix pipeline</li>
				<ul>
					<li><b>model_name:</b> Name of the model. Accepted String value only. e.g. <i>"DecisionTreeModel"</i></li>
					<li><b>model_object:</b> Object of the trained model</li>
				</ul>
			<li><b>sax_utils.get_h2o_cluster_url(cluster_name):</b>This method lets the user to get h2o cluster url by providing cluster name</li>
				<ul>
					<li><b>cluster_name:</b> Name of the cluster. Accepted String value only. e.g. <i>"TrainingCluster"</i></li>
				</ul>
			<li><b>sax_utils.upload_and_register_h2o_model(model_object, model_name, model_type, project_name, project_version):</b>This method lets the user to upload and register h2o model in 'mojo' format in streamanalytix</li>
				<ul>
					<li><b>model_object:</b> Object of trained H2O model</li>
					<li><b>model_name:</b>Name of the model. Accepted String value only. e.g. <i>"H2OTreeModel"</i>
					<li><b>model_type:</b>Type of trained model. Accepted String value only. We support H2O model of types :<i>"DistributedRandomForest"</i>,<i>"GeneralizedLinearModelling"</i>,<i>"IsolationForest"</i>,<i>"GradientBoostingMachine"</i></li>
					<li><b>project_name:</b>Project Name in which model should register. Accepted String value only. e.g. <i>"MyProject"</i></li>
					<li><b>project_version:</b>Version of given project in which model should register</li>
				</ul>
		</ul>
	</li>
</ul>

In [25]:
from streamanalytix.python.dataset import Dataset
from streamanalytix.utilities import sax_utils


dataset_1 = Dataset("employee_data")

# you can use pandas to create dataframe as shown below
df = dataset_1.get_dataframe()
import h2o
h2o_server_url = sax_utils.get_h2o_cluster_url("ESINotebookV1")
h2o.connect(url=h2o_server_url)
print(h2o.cluster_status)

Dataframe created
Connecting to H2O server at http://192.168.7.49:54321 ... successful.

--------------------------  ------------------------------------------------------------------
H2O cluster uptime:         6 days 2 hours 7 mins
H2O cluster timezone:       America/Los_Angeles
H2O data parsing timezone:  UTC
H2O cluster version:        3.28.1.3
H2O cluster version age:    3 months and 5 days
H2O cluster name:           ESINotebookV1
H2O cluster total nodes:    1
H2O cluster free memory:    840 Mb
H2O cluster total cores:    24
H2O cluster allowed cores:  4
H2O cluster status:         locked, healthy
H2O connection url:         http://192.168.7.49:54321
H2O connection proxy:
H2O internal security:      False
H2O API Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python version:             2.7.5 final
--------------------------  ------------------------------------------------------------------

<function cluster_status at 0x7f145eb512a8>

In [26]:
df[["EmpID","DOB","Position","RecruitmentSource"]].head()

        EmpID         DOB                  Position       RecruitmentSource
0  1103024456  1987-11-24              Accountant I      Diversity Job Fair
1  1106026572  1984-04-26              Accountant I      Website Banner Ads
2  1302053333  1986-09-01              Accountant I         Internet Search
3  1211050782  1985-09-16  Administrative Assistant  Pay Per Click - Google
4  1307059817  1988-05-19  Administrative Assistant      Website Banner Ads

In [27]:
# From the StreamAnalytix Utilities package import the Functions
# This serves as a master location where user can define a custom function
# This will be reusable across multiple Python notebooks

from streamanalytix.utilities import functions

In [28]:
# Use the UDF calculate_age_from_dob()
# It takes 2 argument parameters - 
#         date_of_birth and date_format
df["Age"] = df["DOB"].map(lambda x : functions.calculate_age_from_dob(x, date_format='%Y-%m-%d'))

In [29]:
df[["EmpID","DOB","Age","Position","RecruitmentSource"]].head()

,EmpID,DOB,Age,Position,RecruitmentSource
0,1103024456,1987-11-24,32,Accountant I,Diversity Job Fair
1,1106026572,1984-04-26,36,Accountant I,Website Banner Ads
2,1302053333,1986-09-01,33,Accountant I,Internet Search
3,1211050782,1985-09-16,34,Administrative Assistant,Pay Per Click - Google
4,1307059817,1988-05-19,32,Administrative Assistant,Website Banner Ads

In [ ]:
#